<nav role="navigation" aria-label="Top Level">
  <div class="container">
      <div class="nav navbar-header">
          <a role="button" id="skip-to-content" class="link-button" href="#main-content">Skip to content<i>&nbsp;</i><span class="glyphicon glyphicon-menu-down"></span></a>
          <a class="navbar-brand" href="/">Visual Studio Code</a>
          <button type="button" class="navbar-toggle" role="navigation" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle Navigation Menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse" role="navigation">
          <ul class="nav navbar-nav navbar-left">
              <li class="active" ><a id="nav-docs" href="/docs">Docs</a></li>
              <li ><a id="nav-updates" href="/updates">Updates</a></li>
              <li ><a id="nav-blogs" href="/blogs">Blog</a></li>
              <li ><a id="nav-extend" href="/api">API</a></li>
              <li><a href="https://marketplace.visualstudio.com/VSCode" target="_blank" id="nav-extensions">Extensions</a></li>
              <li ><a id="nav-faqs" href="/docs/supporting/faq">FAQ</a></li>
              <li ><a id="nav-learn" href="/learn">Learn</a></li>
              <li class='search visible-xs visible-sm'
                  ><a href="/Search">Search</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right" role="presentation">
              <!-- Floating search icon -->
              <li>
                  <a href="/Search" title="Search" class="btn search-btn" id="nav-search">
                      <img class="search-icon" src="/assets/icons/search.svg" width="16px" height="16px" alt="Search"/>
                      <img class="search-icon-inverted" src="/assets/icons/search_dark.svg" width="16px" height="16px" alt="Search" />
                  </a>
              </li>
              <!-- Actual search icon -->
              <li class="search" role="presentation">
                  <form class="nav-search search-form" role="search" aria-label="Search">
                      <div class="input-group" role="presentation">
                          <input type="text" name="q" class="search-box form-control" placeholder="Search Docs" aria-label="Search text"/>
                          <span class="input-group-btn">
                              <button tabindex="0" class="btn" type="submit" aria-label="Search">
                                      <img class="search-icon" src="/assets/icons/search.svg" width="16px" height="16px" alt="Search" />
                                      <img class="search-icon-inverted" src="/assets/icons/search_dark.svg" width="16px" height="16px" alt="Search" />
                              </button>
                          </span>
                      </div>
                  </form>                        </li>
              <!-- this was hiden in the home and download page, keeping it for now -->
              <li><a class="link-button" href="/Download" id="nav-download">
                  <img class="download-icon" src="/assets/icons/download.svg" width="16px" height="16px" alt="Download VS Code"/>
                  <img class="download-icon-inverted" src="/assets/icons/download-black.svg" width="16px" height="16px" alt="Download VS Code" />
                  <span>Download</span>
              </a></li>
          </ul>
      </div>
  </div>
</nav>
